@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  color: coral;
  font-family: Arial, Helvetica, sans-serif;
}

.placeholder{
  @apply placeholder-[#FAFAFA] focus:outline-none border-2 rounded-md border-[#D7D7D7] p-2 w-[300px] md:w-[600px]
}

.faq-text{
  @apply text-[#6A6B6C] text-[20px]
}

.faq-header {
  @apply text-primary mb-5 md:text-2xl text-xl
}