.heroSection {
    background-color: $colorGrey;
    padding: 2rem;
    font-family: $textSecondary;

    &_inner {
        padding: 64px 84px;
        border-radius: 32px;
        background-color: $colorLightBlue;

        h2 {
            color: #000;
            font-size: 40.007px;
            font-weight: 700;
            line-height: 40.005px;
            /* 75% */
            letter-spacing: -0.2px;
            margin-bottom: 25px;
        }

        h3 {
            color: $colorOrange;
            font-size: 32.223px;
            font-weight: 600;
            line-height: 34.167px;
            /* 75% */
            letter-spacing: -0.161px;
            margin-bottom: 10px;
        }

        p {
            color: #000;
            font-size: 23.781px;
            font-weight: 400;
            line-height: 27.836px;
            /* 75% */
            letter-spacing: -0.119px;
            margin: 25px 0;
        }

        .phone1 {
            margin-bottom: -64px;
        }
    }
}

.app-stores {
    display: flex;
    margin-top: 30px;

    div {
        margin-right: 30px;
    }
}

// @media (max-width: 763px) {
//     .heroSection {
//         padding: 0rem 0;

//         &_inner {
//             padding: 3rem 2rem;
//             border-radius: 0px;

//             h2 {
//                 font-size: 24.007px;
//                 margin-bottom: 1rem;
//                 line-height: 26px;
//             }

//             h3 {
//                 color: $colorOrange;
//                 font-size: 20px;
//                 font-weight: 600;
//                 line-height: 18.167px;
//                 /* 75% */
//                 letter-spacing: -0.161px;
//                 margin-bottom: 10px;
//             }

//             p {
//                 color: #000;
//                 font-size: 16.781px;
//                 font-weight: 400;
//                 line-height: 16.836px;
//                 /* 75% */
//                 letter-spacing: -0.119px;
//                 margin: 25px 0;
//             }

//             .phone1 {
//                 margin-bottom: -3rem;

//                 img {
//                     width: 90%;
//                 }
//             }
//         }
//     }

//     .app-stores {
//         display: block;
//         margin-top: 30px;

//         div {
//             margin-right: 30px;
//         }
//     }
// }

@media (max-width: 1300px) {
    .heroSection {
        padding: 0rem 0;

        &_inner {
            padding: 3rem 2rem;
            border-radius: 0px;

            h2 {
                font-size: 24.007px;
                margin-bottom: 1rem;
                line-height: 26px;
            }

            h3 {
                color: $colorOrange;
                font-size: 20px;
                font-weight: 600;
                line-height: 18.167px;
                /* 75% */
                letter-spacing: -0.161px;
                margin-bottom: 10px;
            }

            p {
                color: #000;
                font-size: 16.781px;
                font-weight: 400;
                line-height: 16.836px;
                /* 75% */
                letter-spacing: -0.119px;
                margin: 25px 0;
            }

            .phone1 {
                // margin-bottom: -3rem;

                img {
                    width: 90%;
                }
            }
        }
    }

    .app-stores {
        display: block;
        margin-top: 30px;

        div {
            margin-right: 30px;
        }
    }
}